body{
    background-color: #cde7b0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    margin: 0;
}


header{
    background-color: #59594a;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

section{
    float: left;
    width: 70%;
    margin-bottom: 100px;
}
aside{
    float: right;
    width: 25%;
}

footer{
    clear: both;
    background-color: #728680;
    padding: 50px 0;
    text-align: center;
}
h1{
    text-align: center;
}