body{
    background-color: aquamarine;
    color: white;
    font-size: 21px;
}

p{
    color: #2f4c5c;

}

h1{
    font-size: 70px;
    color: #3747b3;
}

div{
    background: pink;
    width: 500px;
    height: 500px;
}

span{
    color: yellow;
}

.top{
    background: pink;
}

.bottom{
    background: green;
}

.intro{
    font-size: large;
    color: red;
}