body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

h1{
    font-size: 70px;
    color: #3747b3;
}  
a:link{
    color:black;
}

a:visited{
    color: pink;
}

a:hover{
    color: yellow;
}